<!DOCTYPE html>
<html lang="en">
<head>
<title>css style</title>
<style>
* {
  box-sizing: border-box;
}

h1 {
text-align: center;
font-family: Curlz MT;
font-size: 50px;
color: #000000;
}
</style>
</head>
</html>
